body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */
.App {
  text-align: center;
}

.menu {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
  top: 0;
}

.menu-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.menu-logo img {
  width: 140px;
  height: auto;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list li {
  margin: 20px;
}

.menu-list a {
  text-decoration: none;
  color: #0f0d0d;
  opacity: 1;
  font-size: 22px;
  transition: color 0.3s ease;
}

.menu-list a:hover {
  color: #3a3f45;
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list a {
  text-decoration: none;
  color: #333;
}

/* Alt menü */
.submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li:hover .submenu {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.submenu li {
  padding: 8px;
}

.submenu a {
  color: #333;
  text-decoration: none;
  display: block;
}

.submenu li:hover a {
  background-color: #f0f0f0;
}



/* ------------------------------------------------------------------------------- */

.aboutus-content p {
  margin: 0 0 2em;
}

.aboutus-content {
  max-width: 28em;
  text-align: justify;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 150px;
}

.aboutus-content h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.aboutus-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.aboutus-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.aboutus-content li {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-top: 5px;
}

/* Daha küçük ekranlar için menü stilini ayarla */
@media (max-width: 768px) {

  .home {
    position: relative;
    top: 120px;
  }

  .menu {
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
  }

  .menu-container {
    padding: 0 10px;
  }

  .menu-logo img {
    width: 120px;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 101;
  }

  .menu-list.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0);
  }

  .menu-list li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #0f0d0d;
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .aboutus-content {
    max-width: 28em;
    text-align: justify;
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.App-header {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.active {
  background-color: #100f0f;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 600;
}

/* Sosyal medya iconlarının stillemesi */
.social-media-icons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.social-media-icons a {
  color: #141313;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;

}

.social-media-icons a:hover {
  color: #3a3f45;
}

/* Altyazı (footer yazısı) */
footer p {
  margin-top: 14px;
  font-size: 8px;

}